# Конфиденциальные данные
.env
config.json

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.coverage
.coverage.*
.cache
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db